In [ ]:
pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 KB 15.6 MB/s eta 0:00:00
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 24.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=b72abe642084497f368345da12a894bc4edd38a8344a9c91ee97b3a677121135
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

**Creating DataFrame manually**

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('test').getOrCreate()

In [ ]:

data=[(1,'lk'),(2,'ch')]

df=spark.createDataFrame(data=data,schema=('id','name'))

df.show()
df.printSchema()

# to change schema
from pyspark.sql.types import *
schema = StructType([StructField(name='id',dataType=IntegerType()),StructField(name='name',dataType=StringType())])
df=spark.createDataFrame(data=data,schema=schema)

df.show()
df.printSchema()

# we can make dataframe using a dic as well

data=[{'id':1,'name':'lk'},{'id':2,'name':'ch'}]

df=spark.createDataFrame(data=data)
df.show()

+---+----+
| id|name|
+---+----+
|  1|  lk|
|  2|  ch|
+---+----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

+---+----+
| id|name|
+---+----+
|  1|  lk|
|  2|  ch|
+---+----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

+---+----+
| id|name|
+---+----+
|  1|  lk|
|  2|  ch|
+---+----+

**Read CSV**

In [ ]:
df=spark.read.csv(path='/content/sample_data/california_housing_test.csv',header=True)
display(df)
df.show(5)
df.printSchema()

DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

**OR**

In [ ]:
df=spark.read.format('csv').option(key='header',value=True).load(path='/content/sample_data/california_housing_test.csv')
display(df)
df.show(5)
df.printSchema()

DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

**Write CSV**

In [ ]:
data=[(1,'lk'),(2,'ch')]

df=spark.createDataFrame(data=data,schema=('id','name'))

df.show()

df.write.csv(path='/content/sample_data/test2',header=True,mode='overwrite')

+---+----+
| id|name|
+---+----+
|  1|  lk|
|  2|  ch|
+---+----+

**Read JSON**

In [ ]:
df=spark.read.json(path='/content/sample_data/anscombe.json')
df.show()
df.printSchema()

+------+----+-----+---------------+
|Series|   X|    Y|_corrupt_record|
+------+----+-----+---------------+
|  null|null| null|              [|
|     I|10.0| 8.04|           null|
|     I| 8.0| 6.95|           null|
|     I|13.0| 7.58|           null|
|     I| 9.0| 8.81|           null|
|     I|11.0| 8.33|           null|
|     I|14.0| 9.96|           null|
|     I| 6.0| 7.24|           null|
|     I| 4.0| 4.26|           null|
|     I|12.0|10.84|           null|
|     I| 7.0| 4.81|           null|
|     I| 5.0| 5.68|           null|
|    II|10.0| 9.14|           null|
|    II| 8.0| 8.14|           null|
|    II|13.0| 8.74|           null|
|    II| 9.0| 8.77|           null|
|    II|11.0| 9.26|           null|
|    II|14.0|  8.1|           null|
|    II| 6.0| 6.13|           null|
|    II| 4.0|  3.1|           null|
+------+----+-----+---------------+
only showing top 20 rows

root
 |-- Series: string (nullable = true)
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- _corrupt_record: string (nullable = true)

**Write JSON**

In [ ]:
data=[(1,'lk'),(2,'ch')]

df=spark.createDataFrame(data=data,schema=('id','name'))

df.show()

df.write.json(path='/content/sample_data/testjson',mode='overwrite')

+---+----+
| id|name|
+---+----+
|  1|  lk|
|  2|  ch|
+---+----+

**SHOW**

In [ ]:
data=[(1,'lk'),(2,'chhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh')]

df=spark.createDataFrame(data=data,schema=('id','name'))

df.show(1) # to show only one value
df.show(vertical=True)
df.show(truncate=False) # to get full text without .'s

+---+----+
| id|name|
+---+----+
|  1|  lk|
+---+----+
only showing top 1 row

-RECORD 0--------------------
 id   | 1
 name | lk
-RECORD 1--------------------
 id   | 2
 name | chhhhhhhhhhhhhhhh...

+---+---------------------------------------------+
|id |name                                         |
+---+---------------------------------------------+
|1  |lk                                           |
|2  |chhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh|
+---+---------------------------------------------+

**WithColumn()**

In [ ]:
data=[(1,'lk','50000'),(2,'ch','4000')]
schema=['id','name','salary']

df=spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

from pyspark.sql.functions import col,lit

df2=df.withColumn(colName='Salary',col=col('salary').cast('Integer')) # change type of column
df2.printSchema()

df3=df2.withColumn(colName='Salary',col=col('salary')*2) # math on all values in a column
df3.show()

df4=df3.withColumn(colName='country',col=lit('India')) # adding new column with constant value
df4.show()

df5=df4.withColumn(colName='SalaryCopy',col=col('Salary')) # add new column with same data from another column
df5.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|  lk| 50000|
|  2|  ch|  4000|
+---+----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- Salary: integer (nullable = true)

+---+----+------+
| id|name|Salary|
+---+----+------+
|  1|  lk|100000|
|  2|  ch|  8000|
+---+----+------+

+---+----+------+-------+
| id|name|Salary|country|
+---+----+------+-------+
|  1|  lk|100000|  India|
|  2|  ch|  8000|  India|
+---+----+------+-------+

+---+----+------+-------+----------+
| id|name|Salary|country|SalaryCopy|
+---+----+------+-------+----------+
|  1|  lk|100000|  India|    100000|
|  2|  ch|  8000|  India|      8000|
+---+----+------+-------+----------+

**WithColumnRenamed()**

In [ ]:
data=[(1,'lk','50000'),(2,'ch','4000')]
schema=['id','name','salary']

df=spark.createDataFrame(data=data,schema=schema)
df.show()

df1=df.withColumnRenamed('salary','salaryNEW') # Update Column Name 
df1.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|  lk| 50000|
|  2|  ch|  4000|
+---+----+------+

+---+----+---------+
| id|name|salaryNEW|
+---+----+---------+
|  1|  lk|    50000|
|  2|  ch|     4000|
+---+----+---------+

**StructType() & StryctFiled()**

In [ ]:
data=[(1,'lk',3000),(2,'ch',5000)]
schema=['id','name','salary']

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

from pyspark.sql.types import StructType,StructField,IntegerType,StringType

st=StructType([StructField(name='id',dataType=IntegerType()),\
               StructField(name='name',dataType=StringType()),\
               StructField(name='salary',dataType=IntegerType())])
df2=spark.createDataFrame(data,st)
df2.show()
df2.printSchema()

scc=StructType([StructField(name='fiest',dataType=StringType()),StructField(name='second',dataType=StringType())])

sc=StructType([StructField(name='id',dataType=IntegerType()),StructField(name='name',dataType=scc),StructField(name='salary',dataType=IntegerType())])

data=[(1,('lk','b'),3000),(2,('ch','b'),5000)]
df3=spark.createDataFrame(data=data,schema=sc)
df3.show()
df3.printSchema()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|  lk|  3000|
|  2|  ch|  5000|
+---+----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|  lk|  3000|
|  2|  ch|  5000|
+---+----+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1|{lk, b}|  3000|
|  2|{ch, b}|  5000|
+---+-------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- fiest: string (nullable = true)
 |    |-- second: string (nullable = true)
 |-- salary: integer (nullable = true)

**Array Type**